.container {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw + 100px);
  height: 100vh;
  background: #dcdcdc;
}

.bg-slider {
  width: 100%;
  height: 100vh;
  animation: slowSlide 30s linear;
  animation-fill-mode: forwards;
}

@for $i from 1 through 4 {
  .bg-slider-#{$i} {
    background: url('~assets/bg/bg-slider#{$i}.jpg') center no-repeat;
    background-size: cover;
  }
}

@keyframes slowSlide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100px);
  }
} 
