@import '~components/variables.scss';

.container {
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px 0 $bright-gray;
  padding: 0 18%;
}

.main-section {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .logo-section {
    width: 100px;
    height: 100%;
    margin-right: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid $bright-gray;
    background: url('~assets/logo/img-logo.jpg') center no-repeat;
    background-size: contain;

    &:hover {
      border-color: $light-brown;
    }
  }
  
  .route-text {
    margin-right: 50px;
    padding: 6px;
    color: $davy-gray;
    font-size: $font-size-h3;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $vivid-gray;
    }
  }
}

.third-part-link-section {
  display: flex;
  align-items: center;

  .icon {
    width: 22px;
    height: 22px;
    cursor: pointer;

    &.icon-facebook {
      margin-right: 14px;
      background: url('~assets/icon/icon-facebook.png') center no-repeat;
      background-size: contain;
    }
  
    &.icon-instagram {
      background: url('~assets/icon/icon-instagram.png') center no-repeat;
      background-size: contain;
    }
  }
}
