@font-face {
  font-family: HKGrotesk-Medium;
  src: local('HKGrotesk-Medium'), url('../fonts/HKGrotesk-Medium.otf') format("opentype");
}

@font-face {
  font-family: NotoSansCJKtc-Light;
  src: local('NotoSansCJKtc-Light'), url('../fonts/NotoSansCJKtc-Light.ttf') format('truetype');
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html {
  font-family: HKGrotesk-Medium, NotoSansCJKtc-Light;
}

*:focus {
  outline:none
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
